body {
    background-color:#333;
    color: white;
}

p, h1, h2, h3, h4, h5, h6, img {
    padding-left: 20px; /* Adjust the padding value */
    padding-right: 20px; /* Optional */
}



a {
    color: lightcoral
}

nav{

    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.nested-list-padding {
    padding-left: 20px;
}

.forms-padding {
    padding-left: 100px;
    padding-right: 100px;
}